<h1>Search</h1>
<section class="busca">
	<% if @busca.present? %>
	  <% @busca.each do |serie| %>
	    <div class="col-md-12">
	      <h1><%= serie.nome %></h1>
	    </div>
	  <% end %>
	<% end %>
</selection>




