

<div class="container">
	<div class="card">
		
		<div class="card-header"><h4>Mostar Contato</h4></div>
			<p>
			  <strong>Nome:</strong>
			  <%= @contato.nome %>
			</p>

			<p>
			  <strong>Telefone:</strong>
			  <%= @contato.telefone %>
			</p>
		


		

		<%= link_to 'Deletar', @contato, method: :delete, data: { confirm: 'Deseja deletar?' } %>
		<%= link_to 'Voltar', contatos_path %>
		
		
	</div>
	
</div>